colorama==0.4.6
coloredlogs==15.0.1
cx_Freeze==7.1.0.post0
cx_Logging==3.2.0
exceptiongroup==1.2.1
flatbuffers==24.3.25
humanfriendly==10.0
imageio==2.34.1
iniconfig==2.0.0
lazy_loader==0.4
lief==0.14.1
mpmath==1.3.0
networkx==3.3
nibabel==5.2.1
numpy==1.26.4
onnxruntime-gpu==1.18.0
opencv-python==4.10.0.82
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pluggy==1.5.0
protobuf==5.27.0
pydicom==2.4.4
pyreadline3==3.4.1
PySide6==6.7.1
PySide6_Addons==6.7.1
PySide6_Essentials==6.7.1
pytest==8.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-image==0.23.2
scipy==1.13.1
shiboken6==6.7.1
six==1.16.0
slideio==2.5.0
sortedcontainers==2.4.0
sympy==1.12.1
tifffile==2024.5.22
toml==0.10.2
tomli==2.0.1
tzdata==2024.1
